@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:var(--sitefont);
    list-style-type:none;
}
:root{
    --sitefont:"Poppins", sans-serif;
    --theme1:rgb(233, 53, 57);
    --theme2:rgb(128,128,128);
    --theme3:rgb(52, 119, 88);
    --theme4:rgb(255,255,255);
    --theme5:rgb(0,0,0);
}
/* topbar design */
.active{
    color: var(--theme1) !important;
}
.topBar{
    background-color:var(--theme1);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0.5rem 1rem;
    width:100%;
    font-size:1rem;
}
/* topbar-rightside design */
.topbarRight{
    display:inline-flex;
    gap:1rem;
    justify-content:center;
    align-items:center;
}
/* style for visa buttons */
.visaButtons{
    display:flex;
    padding:0 0.5rem;
}
.visaButtons span:first-child{
    border-right:2px solid var(--theme4);
    padding:0 0.5rem;
}
.visaButtons span:last-child{
   padding:0 0 0 0.5rem;
}
.visaButtons span{
    font-weight:400;
    color:var(--theme4);
}
.visaButtons span:hover{
    cursor:pointer;
    cursor:pointer;
}
/* style for search box */
#searchProduct{
    position:relative;
}
#searchProduct input{
    padding:5px 5px 5px 28px ;
    border-radius:15px;
    border:none;
    outline-color: var(--theme3);
}
#searchProduct input::placeholder{
    font-weight: bold;
}
.fa-magnifying-glass{
    position:absolute;
    left:5px;
    top:7px;
    padding:0 0 0 3px;
    color:var(--theme1);
}
/* style for tamil quote */
#themequote{
    color:var(--theme4);
}

/* style for topbar left */
.topbarLeft{
    color:var(--theme4);
}
/* style for menu button */
#menuTrue{
    font-size:25px;
    display:none;
}
/* style for navigation bar */
#mainNav{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    padding:1rem;
    background-color:var(--theme4);
    position:sticky;
    top:0;
    height:100px;
    z-index:9999999999999999999;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navigationLinks{
    display: inline-flex;
    gap:5px;
}
.navigationLinks{
    gap:1.5rem;
}
.navigationLinks{
    font-size:1.02rem;
    font-weight:400;
}
.navigationLinks a{
    text-decoration:none;
    color:var(--theme2);
    font-size:1rem;
}
.navigationLinks a:hover{
    color:var(--theme5);
    transition: all 0.5s;
    cursor:pointer;
}
/* logo design */
.navLogo img{
    height:6rem ;
    width:6rem ;
    object-fit:contain;
    cursor:pointer;
    animation-name:animatelogo;
    animation-duration:1.5s;
    animation-timing-function: ease;
    animation-iteration-count:1;
}
/* animation work for logo */
@keyframes animatelogo{
    from{
        transform:translateY(-100px);
        opacity:0;
    }
    to{
        transform:translateY(0);
        opacity:1;
    }
}
/* cart button design */
#cartLogo{
    background-color:var(--theme2);
    display: inline-block;
    padding:8px;
    border-radius:5px;
    position:relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color:var(--theme4);
}
#cartLogo .fa-cart-shopping{
   font-size:1.8rem; 
}
#cartLogo:hover{
    cursor:pointer;
}
/* style for badge */
.badge{
    position:absolute;
    background-color:var(--theme1);
    bottom:85%;
    right:75%;
    height:25px;
    /* 
    width:25px; */
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:4px;
    /* display:none; */
}

/* mobile navigation bar styles */
/* mobile nav style */
#mobilenav{
    width:280px;
    padding:10px;
    background-color:var(--theme5);
    display:flex;
    flex-direction:column;
    gap:10px;
    color:var(--theme1);
    position:fixed;
    top:0;
    left:-100%;
    transition:ease 0.5s;
    z-index:9999999999999999999999999999999999999999999999999999999999999999999;
}
.showMenu{
    left:0 !important;
    transition:ease 0.5s;
}
.logoContainer{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    height:120px;
    padding:15px;
    position:relative; 
}

.logoContainer img{
    height:150px;
    width:150px;
    object-fit:contain;   
}

.searchContainer{
    width:100%;
}
.searchContainer #searchProduct input{
    width:100%;
}
.mobilenavigaltionLinks{
    color:var(--theme4);
    font-family:var(--sitefont);
    font-size:14px;
    font-weight:normal;
    width:100%;
}
.mobilenavigaltionLinks li{
    border-bottom:1px dotted var(--theme2);
    padding:10px 0;
}
.mobilenavigaltionLinks li:hover{
    background-color:var(--theme1);
    cursor:pointer;
}
.mobilenavigaltionLinks i{
    padding-right:10px;
}
.logoContainer i{
    position:absolute;
    top:0;
    right:0;
    color:var(--theme4);
    font-size: 16px;
}
/* style for all product cards */
.opacityBackground{
    background-color:rgba(128, 128, 128,0.8) !important;
}
.allProductsCards{
    padding:1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    row-gap:4.5rem;
    column-gap:2rem;
} 
.allProductsCards .productCard{
    width:300px;
    height:460px;
    border:2px solid var(--theme3);
    /* background-color:yellow; */
    padding:10px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.productCard .productRate{
    font-weight:bold;
}
.allProductsCards .productCard:hover{
    cursor:pointer;
    transition:ease-in-out 0.5s;
    /* transform:scale(0.9); */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;}
.productCard .cardImgContainer{
    width:100%;
    /* background-color:aqua; */
    display:flex;
    justify-content:center;
    align-items: center;
    /* clip-path: polygon(50% 0%, 62% 36%, 100% 34%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); */
}
.productVeriety,.quantity,.productRate{
    color:var(--theme3);
}
.cardImgContainer img{
    width:100%;
    height:280px;
}
.purchaseArea{
    /* background-color:rgb(226, 43, 162); */
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-top:15px;
}
.decideQuantity{
    background-color:var(--theme1);
    color:var(--theme4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width:40%;
    padding:8px;
    border-radius:10px;
}
.decideQuantity .quantities{
    background-color:var(--theme4);
    border-radius:5px;
    border:2px solid var(--theme2);
    color:var(--theme1);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width:30px;
}
.productCard .fa-minus,.productCard .fa-plus{
    background-color:var(--theme4);
    
    border-radius:5px;
    color:var(--theme1);
    padding:2px;
    border:1px solid var(--theme2);
}
.shoppingCartBtn:hover{
    cursor:pointer;
}
.shoppingCartBtn{
    padding:8px;
    background-color:var(--theme1);
    color:var(--theme4);
    border-radius:8px;
}
/* style for common badge */
.commonBadgeShopNow{
    background:linear-gradient(to right,rgba(128, 128, 128,0.5),rgba(0, 0, 0,0.5),rgba(128, 128, 128,0.5)),url('../nandrimasalaimages/footerbanner1.jpg');
    height:150px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    color:var(--theme4);
    padding: 10px;
    gap:5px;
}
.shopBtn {
    background-color:var(--theme1);
    padding:15px 20px;
}
.shopBtn{
    font-size:1rem;
    border-radius:5px;
}
.shopBtn:hover{
    background-color:var(--theme3);
    transition:ease 0.5s;
    cursor:pointer;
}
/* footer section designs */
.footerContent{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    gap:15px;
    padding:3rem 4rem;
}
.footerContent h3{
    border-bottom:2px solid var(--theme4);
    padding-bottom:5px;
    margin-bottom:15px;
    position:relative;
}
.footerContent h3::after{
    content:"";
    height:4px;
    width:50px;
    background-color:yellow;
    position:absolute;
    top:0;
    left:0;
    top:97%;
}
.footerSection{
    width:100%;
    background:no-repeat,linear-gradient(rgba(20, 20, 31, .4), rgba(20, 20, 31, .4)),url('../nandrimasalaimages/footerbanner1.jpg');
    padding:1rem;
    background-attachment:fixed;
    background-size:cover;
}
/* section 1 */
.aboutFootContent img{
    height: 150px;
    width:250px;
}
.aboutFootContent{
    color:var(--theme4);
    width:280px;
    /* background-color:rgb(190, 190, 87); */
    text-align:center;
    padding:5px;
}
.aboutFootContent address p{
    font-size:14px;
}
/* section 2 */
.ourCompany{
    color:var(--theme4);
    width:280px;
    /* background-color:rgb(190, 190, 87); */
    text-align:left;
    padding:5px;
}

.companyLinks{
    display:flex;
    flex-direction:column;
    gap:5px;
    
}
.companyLinks span i{
    padding-right:5px;
    color:var(--theme1);
}
/* section 3 */
.socialAccounts {
    padding:5px;
    color:var(--theme4);
    display:flex;
    flex-direction:column;
    gap:5px;
    width:280px;
    /* background-color:aqua; */
}
.socialAccounts .socialIcons{
    display:flex;
    gap:10px;
    padding:5px;
    width:100%;
    /* background-color:rgb(189, 145, 231); */
}
.socialAccounts .socialIcons img{
    height:25px;
    width:30px;
    border-radius:2px;
}
.socialAccounts span i{
    padding-right:5px;
}
/* section followUs section */
.followUs{
    color:var(--theme4);
    width:280px;
    /* background-color: antiquewhite; */
}
/* section 5 copy right section design*/
.copyRightSection{
    color:var(--theme4);
    padding:10px;
    display: flex;
    justify-content: center;
    align-items:center;
}

/* main cart design */
.mainCart{
    background-color:var(--theme4);
    position:fixed;
    top:0;
    right:-100%;
    width:40%;
    min-height: 100vh;
    overflow-y: scroll;
    z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}
.mainCart nav{
    background-color:rgba(128, 128, 128,0.5);
    color:var(--theme4);
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem; 
}
.mainCart .selectedProducts .selectedImgContainer{
    width:20%;
    height:120px;
}
.mainCart .selectedProducts .selectedImgContainer img{
    height:100%;
    width:100%;
}
.selectedProducts{
    display: flex;
    background-color:var(--theme4);
    justify-content: space-around;
    align-items: center;
    padding:5px 0;
    /* flex-direction:column; */
    /* background-color:pink; */
    border-bottom:1px solid var(--theme2);
}
.descriptionContainer{
    width:70%;
    /* background-color:yellow; */
    display: flex;
    flex-direction: column;
    gap:10px;
}
.descriptionContainer .row-1,.descriptionContainer .row-2{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
    /* background-color:rgb(20, 208, 30); */
}
.decideQuantity{
    width:30%;
    padding:5px;
}

.decideQuantity i{
    background-color:var(--theme4);
    color:var(--theme1);
    border-radius:2px;
    border:1px solid var(--theme2);
}
.cartTotal{
    /* background-color:yellow; */
    display: flex;
    padding:1rem; 
    justify-content:space-between;
}
.cartTotal span{
    font-weight:bold;
}
.checkoutBtn{
    background-color:var(--theme1);
    padding:0.8rem;
    color:var(--theme4);
    font-weight:bold;
    text-align:center;
}
/* classes for js toggle */
.cartOpen{
    right:0;
    transition:ease 0.5s;
}
.smooth{
    transition:ease 1s;
}
/* responsive code for main Cart */
@media (max-width:425px){
    .mainCart{
        width:90%;
    }
}
@media (min-width:426px) and (max-width:992px){
    .mainCart{
        width:50%;
    }
}
/* responsivde code for topbar */

@media only screen and (max-width:991px){
    #themequote{
        display:none;
    }
    .topBar #searchProduct{
        display:none;
    }
}
@media only screen and (max-width:352px){
    .topBar{
        font-size:12px;
    }
        
}
@media only screen and (max-width:331px){
    .topBar{
        font-size:11px;
    }
        
}
@media only screen and (max-width:450px){
    html{
        font-size:14px;
    }
}
@media only screen and (max-width:400px){
    html{
        font-size:11px;
    }
}


/* responsive code for navigation bar */
@media only screen and (max-width:991px){
    #menuTrue{
        display:inline-block;
    }
    #mainNav{
        justify-content:space-between;
    }
    .navLeft,.navRight{
        display:none;
    }
}
@media only screen and (max-width:1200px){
   html{
    font-size:15px;
   }
}
@media only screen and (max-width:1115px){
    html{
     font-size:14px;
    }
 }

 @media only screen and (max-width:1050px){
    html{
     font-size:13px;
    }
 }
 /* responsive code for footer */
 @media only screen and (max-width:768px){
    .footerContent .aboutFootContent,.footerContent .ourCompany,.footerContent .socialAccounts,.footerContent .followUs{
        width:100%;
        justify-content: center;
        /* align-items:center; */
    }
 }
 @media only screen and (max-width:375px){
    .footerContent .aboutFootContent,.footerContent .ourCompany,.footerContent .socialAccounts,.footerContent .followUs{
        width:100%;
        justify-content: center;
        /* align-items:center; */
    }
    .footerContent{
        padding:10px;
    }
 }
 /* responsive code product cards */
 @media only screen and (max-width:424px){
    .decideQuantity{
        width:50%;
    } 
    .allProductsCards .productCard{
        width:80%;
        height:unset;
        /* display: block; */
    }
 }
 @media only screen and (min-width:425px) and (max-width:698px){
    .allProductsCards .productCard{
        width:80%;
        height:unset;
        /* display: block; */
    }
 }
 @media only screen and (min-width:499px) and (max-width:698px){
    .allProductsCards .productCard .cardImgContainer img{
        height:400px;
    }
 }
 /* responsive code for common badge shop now */
 @media only screen and (max-width:828px){
    .commonBadgeShopNow{
        flex-direction: column;
    }
}
@media only screen and (max-width:407px){
    .commonBadgeShopNow h1{
        font-size:20px;
    }
    .commonBadgeShopNow .shopBtn{
        padding:10px;
    }
}
