@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:var(--sitefont);
}
:root{
    --sitefont:"Poppins", sans-serif;
    --theme1:rgb(233, 53, 57);
    --theme2:rgb(128,128,128);
    --theme3:rgb(52, 119, 88);
    --theme4:rgb(255,255,255);
}
/* topbar design */
.topBar{
    background-color:var(--theme1);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0.5rem 1rem;
}
/* topbar-rightside design */
.topbarRight{
    display:inline-flex;
    gap:1rem;
    justify-content:center;
    align-items:center;
    /* background-color:blueviolet; */
}
/* style for visa buttons */
.visaButtons{
    display:flex;
    padding:0 0.5rem;
    /* background-color:aqua; */
}
.visaButtons span:first-child{
    border-right:2px solid var(--theme4);
    padding:0 0.5rem;
}
.visaButtons span:last-child{
   padding:0 0 0 0.5rem;
}
.visaButtons span{
    font-weight:bold;
    color:var(--theme4);
    /* padding:0 0.5rem; */
}
.visaButtons span:hover{
    cursor:pointer;
}
/* style for search box */
#searchProduct{
    position:relative;
}
#searchProduct input{
    padding:5px 5px 5px 28px ;
    border-radius:15px;
    border:none;
    outline-color: var(--theme3);
}
#searchProduct input::placeholder{
    font-weight: bold;
}
.fa-magnifying-glass{
    position:absolute;
    left:5px;
    top:7px;
    padding:0 0 0 3px;
    color:var(--theme1);
}
/* style for tamil quote */
#themequote{
    color:var(--theme4);
}

/* style for topbar left */
.topbarLeft{
    color:var(--theme4);
}
